---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  RATING_ARRAY,
  RATING_DESCRIPTIONS,
} from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

import RatingImage from "../../components/RatingImage.astro";

// const posts = await getCollection("reviews");
const posts = await getCollection("reviews");

const groupedPosts = RATING_ARRAY.map((rating) => ({
  rating,
  // posts: posts.filter((post) => post.data.rating === rating),
  count: posts.filter((post) => post.data.rating === rating).length,
  description: RATING_DESCRIPTIONS[rating],
}));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }

      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }

      table {
        border-spacing: 1rem;
      }

      @media (max-width: 720px) {
        .responsive > thead th {
          display: none;
        }
        .responsive > tbody td,
        .responsive > tbody th {
          display: flex;
        }

        [row-header] {
          position: relative;
          vertical-align: middle;
        }
        [row-header] div {
          width: 75%;
        }
        [row-header]:before {
          font-weight: bold;
          content: attr(row-header);
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          width: 25%;
          padding-right: 30px;
          white-space: nowrap;
        }

        .table-image {
          display: flex;
          justify-content: center;
        }
      }
    </style>
    <style is:global>
      table img {
        height: auto;
        min-width: 50px;
      }

      .table-image a {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
      }
      @media (max-width: 720px) {
        table img {
          max-width: 100px;
        }
      }
    </style>
  </head>
  <body>
    <Header />

    <main>
      <h1>Ratings</h1>
      <table class="table-bordered responsive">
        <thead>
          <tr>
            <th>Rating</th>
            <th>Description</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          {
            groupedPosts.map((rating) => (
              <tr>
                <td class="table-image">
                  <a href={`/rating/${rating.rating}`}>
                    <RatingImage rating={rating.rating} size={200} />
                    <b>{rating.rating} tier</b>
                  </a>
                </td>

                <td row-header="Description">
                  <div>{rating.description}</div>
                </td>
                <td row-header="Count">
                  <div>{rating.count}</div>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </main>
    <Footer />
  </body>
</html>
