---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import data from "../mocks/notion";
import { getData } from "../services/notion.service";
const res = await getData();
// console.log(data);

import Card from "../components/Reviews/Card.astro";
---

<script define:vars={{ res: data }}>
  console.log({ res });
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      {
        data.results.map((result) => (
          <Card title={result.child_page.title} id={result.id} />
        ))
      }
    </main>
    <Footer />
  </body>
</html>
